@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}    
.container{
    max-width: 80vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar{
    display: flex;
    height: 70px;
}
.navbar li{
    list-style: none;
    margin: 0 12px;
}
.topleft{
width: 50%;
height: 2px;
padding: 200px;
}
.topright{
    width: 50%;
    
}
.section1{
    height: 50vh;
}
.topright .gymimg{
    width: 300px;
    padding: 50px;
}
.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3 table{
    width: 90%;
    margin-bottom: 150px ;
    margin-top: 20px;
    border-collapse: collapse;
}
.section3 table th{
    width: 25vw;
    border-bottom: 2px solid black;
    padding: 10px 0;
}
.section3 table td{
    border-bottom: 2px solid black;
}
.section3 table tr{
    border-bottom: 2px solid black;
}
.section3 h3{
    font-size: 1.3rem;
}
.section3{
    padding: 40px;
}
